<footer>
    <div id="contact">
        <h3>
            We are located at: City, Street, Address
        </h3>
    </div>

    <div id="credits">
        <h2>
            Created by &copy; Vakhtnag jabniashvili
        </h2>
    </div>

    <div id="socials">
        <a href="https://facebook.com/">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/">
            <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>

    </div>

</footer>
</div>

<script src="scripts/scripts.js"></script>
</body>
</html>