<nav>
  <ul class="navigation">
    <li class="nav-item" style="border-left:0px" id="home"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-item" id="service"><a href="/service" class="nav-link">Service/Prices</a></li>
    <li class="nav-item" id="aboutUs"><a href="/aboutus" class="nav-link">About Us</a></li>
    <li class="nav-item" id="contact"><a href="/contact" class="nav-link">Contact</a></li>
    <li class="nav-item" id='booking' style="border-right:0px"><a href="/booking" class="nav-link">Booking</a></li>
  </ul>
</nav>
