<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<div id="contact-info">
    <div id="con-info">
        <p>
            Contact Information:
        </p>

        <p>
            Feel free to reach out to us using the following contact details:
        </p>
            
        <p>
            Email: info@example.com
        </p>
        <p>
            Phone: +1234567890
        </p>    
            
        <p>
            You can also visit us at our office located at 123 Main Street, Cityville, State, Zip Code.
        </p>
        <p>
            We value your feedback and inquiries. Don't hesitate to get in touch with us!
        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d372.320262354579!2d44.880576689415754!3d41.70838810829679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440d886a75da49%3A0x776fad84a987b10a!2s419%2C%20T&#39;bilisi!5e0!3m2!1sen!2sge!4v1715269065797!5m2!1sen!2sge" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
    <div id="barber-img">
    </div>

<%- include('partials/footer.ejs') %> 